/* common style(comment: ctrl+? */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
#header {
    width: 100%;
    height: 500px;
    background-color: rgba(255, 255, 0, 0.541);
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.header-title {
    width: 50%;
}

.header-image {
    width: 50%;
}

/* 50% div er puro jayga niye naw */
.header-image img {
    width: 100%;
}

.orange-text {
    color: orangered;
}

#services-section {
    width: 100%;
    margin: 20px auto;

}

.para {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(45 deg, orangered, orange);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.service-box {
    width: 30%;
    background-color: rgba(255, 255, 0, 0.541);
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.service-icon {
    width: 30%;
}

.service-icon img {
    width: 100%;
    padding: 10px;
}

.service-section-boxes {
    display: flex;
    justify-content: space-evenly;
}

#product-section {
    width: 100%;
    margin: 40px 0px;


}

.laptop-sec,
.phone-sec {
    width: 70%;
    margin: 0 auto;

}

.card {
    width: 30%;
    box-shadow: 5px 5px 20px gray;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
    margin-right: 30px;


}

.product-cards {
    margin: 15px 0px;
    display: flex;
    justify-content: space-evenly;
}

.card-image {
    width: 70%;

}

.card-image img {
    width: 100%;
    padding-left: 90px;
    justify-content: center;


}

footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}